@model ExpenseTracker.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-md-6 col-lg-6 offset-lg-3  pb-5 px-5">
        <a asp-action="Index" class="text-start text-black text-decoration-none"><i class="fa-solid fa-arrow-left fa-lg"></i></a>
        <h2 class="text-center text-dark py-2">Delete Category</h2>
        <hr />

        <dl class="row text-dark text-start">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Icon)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Icon)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
        </dl>
    
        <form asp-action="Delete" class="d-flex justify-content-center">
            <input type="hidden" asp-for="CategoryId" />
            <input type="submit" value="Delete" class="btn btn-danger px-4 rounded" />
        </form>
    </div>
</div>
