@model ExpenseTracker.Models.Transaction

@{
    ViewData["Title"] = "Delete";
}

    <div class="row">
    <div class="col-md-6 col-lg-6 offset-lg-3 pb-5 px-5 ">

        <div class="row">
            <div class="col-md-1 pt-4">
                <a asp-action="Index" class="text-start text-black text-decoration-none"><i class="fa-solid fa-arrow-left fa-lg"></i></a>
            </div>
            <div class="col-md-11 py-2">
                <h2 class="text-center text-dark py-2">Delete Transaction</h2>
            </div>
        </div>

        <dl class="row text-dark text-start">
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Category.TitleWithIcon)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Amount) 円
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
            <dd class="col-sm-6">
                <!-- Display the image -->
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <img src="@Model.ImagePath" alt="Transaction Image" class="img-thumbnail" width="100" height="100" />
                }
                else
                {
                    <p>No image available</p>
                }
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PaymentMethod)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Note)
            </dd>
        </dl>
    
        <form asp-action="Delete" class="d-flex justify-content-center">
            <input type="hidden" asp-for="TransactionId" />
            <input type="submit" value="Delete" class="btn btn-danger px-4 rounded" />
        </form>

    </div>
</div>